<body class="text-center">
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="container">
    <h1>Welcome <%=params[:user_first_name]%></h1>
    <p>Ici c'est notre super site de potins, il est chouette, non ?</p>
  </div>
</body>
